.submit-button {
  position: relative;

  &__loader {
    position: absolute;
    left: calc(50% - 12px);
    color: var(--primary-green-color);

    svg {
      visibility: visible;
    }
  }

  &--loading {
    color: transparent;
    img {
      visibility: hidden;
    }
  }
}
